body {
  background-color: #111;
  color: #f5f5f5;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding-top: 50px;
}
img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 20px #444;
}